{% extends "default" %}
{% block content_wrapper %}
    <article>
        <h3><a href="#">{{ page.title }}</a></h3>
        <h6>{{ page.date | date("d F Y")  }}</h6>
        {{ page.blocks.content|raw }}
        {% if page.categories %}
        <p class="categories">
            Categories:
            {% for category in page.categories %}
            <a href="{{ site.url }}/blog/categories/{{ category }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% endif %}
        {% if page.tags %}
        <p class="tags">
            Tags:
            {% for tag in page.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% endif %}
    </article>
    <hr />
{% endblock %}
