html, body, .panel {
    background-color: #f7e8d1;
}

aside > .panel > a > i {

    color: #ccc;
    font-size: 3em;
}

aside > .panel > a > i:hover {
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
    color: #3b7e9b;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', serif;
}


ul, ol, dl {
  list-style-position: inside;
  margin-left: 10px;
}